nav{ 
    padding-top: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}
header{ 
  display: flex;
  align-items: center;
  justify-content: center;
  .WELCOME{ 
    color: #000;
    font-family: Mada;
    font-size: 63px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    span{ 
      color: #FFF;
      font-family: Mada;
      font-size: 63px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-radius: 59px;
      border: 2px solid #9500FF;
      background: linear-gradient(90deg, #9500FF 0%, #C0F 100%);
      width: 300px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .place{ 
    color: #000;
    font-family: Mada;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  .big{ 
    color: #9500FF;
    font-family: Mada;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}









/*  Support me if you like it */
.support {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover{
  transform: scale(1.1);
}